{% extends "admin/change_form.html" %}
{% load i18n %}
{% load url from future %}

{% block object-tools-items %}
{{ block.super }}
{% comment %}
<li>
    <a href="#">
    <i class="icon-play"></i> {% trans "Run macros now" %}</a>
</li>
{% endcomment %}
{% endblock %}