{% if required %}
<div class="control-group required">
{% else %}
<div class="control-group">
{% endif %}
    <label class="control-label" for="id_{{ identificator }}">{{ name }}</label>
    <div class="controls">
        {% if required %}
        <input id="id_{{ identificator }}" class="required_input {{ css_class }}" type="text" name="{{ type }}_form_{{ identificator }}" value="{{ value }}">
        {% else %}
        <input id="id_{{ identificator }}" class="{{ css_class }}" type="text" name="{{ type }}_form_{{ identificator }}" value="{{ value }}">
        {% endif %}
    </div>
</div>
