{% if required %}
<div class="control-group required">
{% else %}
<div class="control-group">
{% endif %}
    <label class="control-label" for="id_{{ identificator }}">{{ name }}</label>
    <div class="controls">
            <input type="hidden" name="{{ type }}_form_{{ identificator }}_choice" value="{{ selected_value }}"/>
        <select class="field-type checkout-selector {{ css_class }}" name="{{ type }}_form_{{ identificator }}" id="id_{{ identificator }}">
            {% for value in values %}
                {% if forloop.counter0 == selected_index %}
                    <option value="{{ type }}_form_choice_{{ forloop.counter0 }}_{{ variable }}" selected="selected">{{ value }}</option>
                {% else %}
                    <option value="{{ type }}_form_choice_{{ forloop.counter0 }}_{{ variable }}">{{ value }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
</div>