{% extends "admin/base_site.html" %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans "Diagnose" %}{% endblock %}

{% block content_title_value %}
  {% trans "Diagnose" %}
{% endblock %}

{% if not is_popup %}
  {% block breadcrumbs %}
    <ul class="breadcrumb">
      <li>
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        <span class="divider">&raquo;</span>
      </li>
      <li class="active">
        {% trans "Diagnose" %}
      </li>
    </ul>
  {% endblock %}
{% endif %}

{% block content %}
<div id="content-main" class="inner-one-column">
<div class="btn-toolbar">
<div class="btn-group">
    <a class="btn btn-success __action__run-tests">
    <i class="icon-play icon-white"></i>&nbsp;{% trans "Start all tests" %}</a>
</div>
</div>
<table class="table table-bordered table-striped table-hover">
    <tr>
        <th>{% trans "Number" %}</th>
        <th>{% trans "Comment" %}</th>
        <th>{% trans "Actions" %}</th>
        <th>{% trans "Result" %}</th>
    </tr>
{% for test in diag_tests %}
<tr class="__anchor__test-row" data-test-id="{{ forloop.counter0 }}">
    <td>{{ forloop.counter }}</td>
    <td>{{ test.get_description }}</td>
    <td>
    <a class="btn btn-success __action__run-test" data-test-id="{{ forloop.counter0 }}" title="{% trans 'Start test' %}">
    <i class="icon-play icon-white"></i></a></td>
    <td class="__container__run-test-result__{{ forloop.counter0 }}" style="width:400px;"></td>
</tr>
{% endfor %}
</table>
</div>
<script type="text/javascript">
    var start_from_test = 0;

    function run_diag_test(test_id, run_next_test) {
        $(".__container__run-test-result__"+test_id)
            .html("<img src='/static/img/ajax-loader.gif'/>");
        $.ajax({
            url: "{% url 'admin_diagnose_run_test' %}?test_id=" + test_id,
        }).done(function(test_id, run_next_test) {
            return function(data) {
                data = $.parseJSON(data);
                if(data.result) {
                    $(".__container__run-test-result__"+test_id)
                    .html('<p><img src="/static/icons/tick.png"/> '+data.msg+'</p>');
                } else {
                    if(data.has_multiple_solutions) {
                        var how_to_fix = '';
                        if(data.how_to_fix) {
                            how_to_fix = '<hr/><h4>{% trans "Proposed solutions" %}</h4>' +
                            '<table class="table table-bordered table-hover">';
                            for(var i=0; i < data.how_to_fix.length; i++) {
                                how_to_fix = how_to_fix + '<tr><td>' +
                                data.how_to_fix[i] + '</td><td>' +
                                '<a class="btn btn-warning __action__fix-failed-test" data-test-id="'+
                                test_id+'" data-test-solution="'+i+'" title="{% trans "Fix this problem" %}">'+
                                '<i class="icon-wrench icon-white"></i></a></td></tr>';
                            }
                            how_to_fix = how_to_fix + '</table>';
                        }
                    } else {
                        var how_to_fix = '';
                        if(data.how_to_fix) {
                            how_to_fix = '<hr/><h4>{% trans "Proposed solution" %}</h4>' +
                            '<table class="table table-bordered table-hover"><tr><td>' + data.how_to_fix + '</td><td>' +
                            '<a class="btn btn-warning __action__fix-failed-test" data-test-id="'+
                            test_id+'" title="{% trans "Fix this problem" %}">'+
                            '<i class="icon-wrench icon-white"></i></a></td></tr></table>';
                        }                        
                    }

                    var report = '';
                    if(data.report) {
                        report = '<hr><div style="height:200px;overflow-y:scroll;">';
                        report = report + data.report;
                        report = report + '</div>'
                    }

                    $(".__container__run-test-result__"+test_id)
                    .html('<p class="text-error"><img src="/static/icons/cross.png"/> '+
                        data.msg+'</p>'+report+how_to_fix);
                }
                update_buttons();
                if(run_next_test) {
                    start_from_test = test_id + 1;
                    var c = $(".__container__run-test-result__"+start_from_test);
                    if(c.length > 0) {
                        run_diag_test(start_from_test, run_diag_test);
                    }
                }
            };
        }(test_id, run_next_test));        
    }

    function start_diag_tests() {
        start_from_test = 0;
        run_diag_test(start_from_test, true);
    }

    function fix_diag_test(test_id, solution) {
        var url = '';
        if(solution) {
            url = "{% url 'admin_diagnose_fix_test' %}?test_id="+test_id+"&solution="+solution;
        } else {
            url = "{% url 'admin_diagnose_fix_test' %}?test_id="+test_id;
        }
        $.ajax({
            url: url,
        }).done(function(test_id) {
            return function(data) {
                data = $.parseJSON(data);
                var html = "";
                if(data.result) {
                    html = '<p><img src="/static/icons/tick.png"/> '+data.msg+'</p>';
                } else {
                    html = '<p class="text-error"><img src="/static/icons/cross.png"/> '+
                        data.msg+'</p>';
                }
                $(".__container__run-test-result__"+test_id).html(html);
            };            
        }(test_id));        
    }

    function update_buttons() {
        $(".__action__fix-failed-test").click(function(e) {
            var test_id = $(this).attr("data-test-id");
            var solution = $(this).attr("data-test-solution");
            $(this).addClass('disabled');
            $(this).html("<img src='/static/img/ajax-loader.gif' title='{% trans 'Processing...' %}'/>");
            fix_diag_test(test_id, solution);
        });
    }

    $(".__action__run-test").click(function(e) {
        var test_id = $(this).attr("data-test-id");
        run_diag_test(test_id, false);
    });

    $(".__action__run-tests").click(function(e) {
        start_diag_tests();
    });

</script>
{% endblock %}
