// Vertical slider plugin for 7shop

imageHeight = 60px
imageWidth = 60px
rowCount = 3
colCount = 1
paddingWidth = 0
paddingHeight = 20px

div.vertical-slider
    overflow hidden
    height (imageHeight + paddingHeight) * rowCount
    width (imageWidth + paddingWidth) * colCount
