{% extends "lfs/base.html" %}
{% load i18n lfs_tags lfs_portlets_tags %}
{% load seo_data %}

{% block section %}page{% endblock %}

{% block breadcrumbs %}
    {% breadcrumbs page %}
{% endblock %}

{% block content %}
<div class="page-header">
    <h1 class="first-heading">{% get_h1 %}</h1>
</div>

<div>
        {{ page.body|safe }}
</div>

    {% if page.file %}
        <a href="{{page.file.url}}">
            {% trans "Download" %}
        </a>
    {% endif %}
{% endblock %}
