{% load i18n %}
{# Search form #}
<div class="search-block">
<form class="form-search header-search" id="search-form" action="{% url lfs_search %}" autocomplete="off">
    <input type="hidden" name="livesearch" value="1" />
    <div class="input-append">
        <input id="search-input" name="q" autocomplete="off" data-url="{% url lfs_livesearch %}"  class="input-large search-query" type="text" placeholder="{{ SHOP.search_field_text }}">
        <button class="btn" type="submit">{% trans 'Go!' %}</button>
    </div>
</form>
<div class="livesearch-wrapper">
    <div id="livesearch-result" class="dropdown-menu"></div>
</div>
</div>

<script type="text/javascript">
$('.form-search button:submit').click(function(){
    mediator.publish('search')
})
</script>