{% extends "admin/change_form.html" %}
{% load i18n %}
{% load url from future %}

{% block object-tools-items %}
{{ block.super }}
<li>
    <a href="{% url 'admin_mail_preview_txt' original.id %}">
    <i class="icon-eye-open"></i> {% trans "Preview TXT" %}</a>
</li>
<li>
    <a href="{% url 'admin_mail_preview_html' original.id %}">
    <i class="icon-eye-open"></i> {% trans "Preview HTML" %}</a>
</li>
{% endblock %}