{% load i18n %}
{% load url from future %}
{% load lfs_tags  sshop_tags%}
<table class="table table-bordered table-hover table-striped">
    <tr>
        <th colspan="4">
            {% trans 'General' %}
        </th>
    </tr>
    <tr>
        <td width="25%">
            {% trans 'Order number:' %}
        </td>
        <td width="25%">
            {{ current_order.number|default_if_none:"-" }}
        </td>
        <td width="25%">
            {% trans 'Date' %}:
        </td>
        <td width="25%">
            {{ current_order.created|date:_("DATETIME_FORMAT") }}
        </td>
    </tr>
    <tr>
        <td>
            {% trans 'E-mail' %}:
        </td>
        <td>
            <a href="mailto:{{ order.customer_email }}">
                {{ current_order.customer_email }}
            </a>
        </td>
        <td>
            {% trans 'State' %}:
        </td>
        <td>
            {{ current_order.get_state_display }} {% if current_order.state_modified %}({{ current_order.state_modified|date:_("DATETIME_FORMAT") }}){% endif %}
        </td>
    </tr>
    <tr>
        <td>
            {% trans "Phone" %}:
        </td>
        <td>
            {{ current_order.get_formatted_phone_number }}
        </td>
        <td>
            {% trans 'Customer' %}:
        </td>
        <td>
            {{ current_order.customer.get_full_name }}
        </td>
    </tr>
</table>

<table width="100%">
    <tr style="vertical-align:top;">
    <td width="50%">
        <table class="table table-bordered table-hover table-striped">
            <tr>
                <th colspan="2">
                    {% trans 'Customer info' %}
                </th>
            </tr>
            {% for item in current_order.get_customer_data %}
            <tr>
                <td>
                    {{ item.title }}
                </td>
                <td>
                    {{ item.value }}
                </td>
            </tr>
            {% endfor %}
        </table>
    </td>
    <td width="50%">
        <table class="table table-bordered table-hover table-striped">
            <tr>
                <th colspan="2">
                    {% trans 'Order info' %}
                </th>
            </tr>
            {% for item in current_order.get_order_data %}
            <tr>
                <td>
                    {{ item.title }}
                </td>
                <td>
                    {{ item.value }}
                </td>
            </tr>
            {% endfor %}
        </table>
    </td>
    </tr>
</table>

<table width="100%">
    <tr style="vertical-align:top;">
    <td>
        {% if current_order.shipping_info %}
            {{ current_order.shipping_info|safe }}
        {% endif %}
    </td>
    <td>
        {% if current_order.payment_info %}
            {{ current_order.payment_info|safe }}
        {% endif %}
    </td>
    </tr>
</table>

    <table class="table table-bordered table-hover table-striped order-inline">
    <tr>
        <th width="100px">
            {% trans 'Image' %}
        </th>
        <th width="100px">
            {% trans 'SKU' %}
        </th>
        <th>
            {% trans 'Name' %}
        </th>
        <th width="80px"
            class="number">
            {% trans 'Amount' %}
        </th>
        <th width="150px"
            class="number">
            {% trans 'Price' %}
        </th>
        <th width="150px"
            class="number">
            {% trans 'Total' %}
        </th>
    </tr>
    {% for item in current_order.items.all %}
        <tr class="product-row">
            <td class="top">
                {% if item.product.get_image.image %}
                <a href="{% url 'lfs_product' item.product.slug %}">
                    <img alt="{{ item.product_name }}"
                         src="{{ item.product.get_image.image.url_small }}" />
                 </a>
                {% else %}
                {% if item.product %}
                <img alt="{{ item.product.name }}" src="{{ STATIC_URL }}img/60x60.gif" class="thumbnail" />
                {% endif %}
                {% endif %}
            </td>
            <td class="top">
                {{ item.product_sku }}
            </td>
            <td class="top">
                {% if item.product %}
                    <a href="{% url 'lfs_product' item.product.slug %}">
                        {{ item.product_name }}
                    </a>
                {% else %}
                    {{ item.product_name }}
                {% endif %}
            </td>

            <td class="number top">
               {{ item.amount }} {{ item.product.unit }}
            </td>
            <td class="number top">
               {% format_as_price item.product_price %}{% if item.product.price_unit %} / {{ item.product.price_unit }}{% endif %}
            </td>
            <td class="number top">
               {% if SHOP.default_currency_id != current_order.payment_method.currency_id %}
                <strong>{% format_as_payment_price item.price current_order.payment_method %}</strong> ({% format_as_price item.price %})
               {% else %}
                {% format_as_price item.price %}
               {% endif %}
            </td>
        </tr>
    {% endfor %}
    {% if current_order.voucher_number %}
        <tr>
            <td></td>
            <td>
                {% trans 'Voucher' %} ({{ current_order.voucher_number }})
            </td>
            <td></td>
            <td class="number">
                1
            </td>
            <td class="number">
                -{% format_as_price current_order.voucher_price %}
            </td>
            <td class="number">
               {% if SHOP.default_currency_id != current_order.payment_method.currency_id %}
                <strong>-{% format_as_payment_price current_order.voucher_price current_order.payment_method %}</strong> (-{% format_as_price current_order.voucher_price %})
               {% else %}
                -{% format_as_price current_order.voucher_price %}
               {% endif %}
            </td>
        </tr>
    {% endif %}
    <tr>
        <td></td>
        <td colspan="2">
            {% trans 'Shipping' %} ({{ current_order.shipping_method }})
        </td>
        <td class="number">
            1
        </td>
        <td class="number">
            {% format_as_price current_order.shipping_price %}
        </td>
        <td class="number">
            {% if SHOP.default_currency_id != current_order.payment_method.currency_id %}
            <strong>{% format_as_payment_price current_order.shipping_price current_order.payment_method %}</strong> ({% format_as_price current_order.shipping_price %})
            {% else %}
            {% format_as_price current_order.shipping_price %}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td></td>
        <td colspan="2">
            {% trans 'Payment' %} ({{ current_order.payment_method }})
        </td>
        <td class="number">
            1
        </td>
        <td class="number">
            {% format_as_price current_order.payment_price %}
        </td>
        <td class="number">
            {% if SHOP.default_currency_id != current_order.payment_method.currency_id %}
                <strong>{% format_as_payment_price current_order.payment_price current_order.payment_method %}</strong> ({% format_as_price current_order.payment_price %})
            {% else %}
                {% format_as_price current_order.payment_price %}
            {% endif %}
        </td>
    </tr>
    <tr class="total">
        <td colspan="6"
            class="number total">
            <div class="pull-right"><strong>
            {% trans "Total" %}:
            {% if SHOP.default_currency_id != current_order.payment_method.currency_id %}
            <strong>{% format_as_payment_price current_order.price current_order.payment_method %}</strong> ({% format_as_price current_order.price %})
            {% else %}
            {% format_as_price current_order.price %}
            {% endif %}
            </strong></div>
        </td>
    </tr>
    </table>
    {% if current_order.message %}
        <table class="table table-bordered table-hover table-striped">
            <tr>
                <th colspan="5">
                    {% trans 'Message from the customer' %}
                </th>
            </tr>
            <tr>
                <td colspan="5">
                    {{ current_order.message }}
                </td>
            </tr>
        </table>
    {% endif %}
