{% load i18n %}

<table class="table table-bordered table-striped">
    <tbody>
        <tr>
            <th colspan="2">
                {% trans 'Payment info' %}: {{ payment_method }}
            </th>
        </tr>
        {% for field in fields %}
        <tr>
                <td>
                    {{ field.title }}:
                </td>
                <td>
                    {{ field.value }}
                </td>
        </tr>
        {% endfor %}
    </tbody>
</table>