{% load url from future %}
{% load i18n %}
{% if criteria %}
<table class="table table-striped table-bordered table-hover table-condensed">
    <thead>
    <tr>

        <th>{% trans 'Title' %}</th>
        <th>{% trans 'Operator' %}</th>
        <th>{% trans 'Value' %}</th>
        <th>{% trans 'Actions' %}</th>
    </tr>
    </thead>
    <tbody id="filters-table-body">
    {% for criterion in criteria %}
    <tr>

        <td>
            {{ criterion.criterion.name }}
        </td>
        <td>

            {{ criterion.criterion.get_operator_display }}

        </td>
        <td>
            {% if criterion.criterion.value.all %}
                {% for value in criterion.criterion.value.all %}
                    {% if forloop.first %}
                        {{ value }}
                    {% else %}
                        , {{ value }}
                    {% endif %}
                {% endfor %}
            {% else %}
                {{ criterion.criterion.value }}
            {% endif %}

        </td>
        <td width="220">
            <div class="btn-toolbar">
            <div class="btn-group">
            <a href="{% url 'admin_move_criterion' criterion.id %}?direction=0" class="simple-ajax-link btn{% if forloop.first %} disabled{% endif %}" title='{% trans "Move Up" %}' data-loaderselector="#criteria-list-wrapper"><i class="icon-arrow-up"></i></a>
            <a href="{% url 'admin_move_criterion' criterion.id %}?direction=1" class="simple-ajax-link btn{% if forloop.last %} disabled{% endif %}" title='{% trans "Move Down" %}' data-loaderselector="#criteria-list-wrapper"><i class="icon-arrow-down"></i></a>
            <a href="{% url 'admin_change_criterion' criterion.id %}" class="btn" title='{% trans "Edit" %}' onclick='return showAddAnotherPopup(this);' data-loaderselector="#criteria-list-wrapper"><i class="icon-edit"></i></a>
            </div>
            <div class="btn-group">
            <a href="{% url 'admin_delete_criterion' criterion.id %}" class="ajax-confirm-link btn btn-danger" title='{% trans "Delete" %}'
            data-question="{% trans 'This operation cannot be undone. Do you really want to delete this field?' %}"
            data-loaderselector="#criteria-list-wrapper"><i class="icon-trash icon-white"></i></a>
            </div>
            </div>
        </td>

    </tr>

    {% endfor %}
    </tbody>
  </table>
{% else %}
<br/>
<div class="alert alert-info">
  {% trans "There are no criteria yet." %}
</div>
{% endif %}