{% load url from future %}
{% load i18n sshop_tags %}

<div class="btn-toolbar">    
    {% if filter.type != 20 %}
    <div class="btn-group">
      <a href="{% url 'admin:filters_filteroption_add' %}?filter_id={{ filter.pk }}" class="btn btn-success" onclick='return showAddAnotherPopup(this);'>
      <i class="icon-plus-sign icon-white"></i> {% trans "Add option" %}</a>
      {% if filter.special_filter != 10 %}
      <a class="filter-variants-button btn btn-success" 
      href="{% url 'admin_autoconfigure_filter' filter.pk %}"
      onclick='return showAddAnotherPopup(this);'><i class="icon-filter icon-white"></i> {% trans "Autoconfigurer" %}</a>
    </div>
    {% endif %}
    <div class="btn-group">
      <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#">
         <i class="icon-list icon-white"></i> {% trans "Sort" %}
         <span class="caret"></span>
      </a>
        <ul class="dropdown-menu">
            <li><a href="#">{% trans "ASC" %}</a></li>
            <li><a href="#">{% trans "DESC" %}</a></li>
            <li class="divider"></li>
            <li><a href="#">{% trans "From more to less" %}</a></li>
            <li><a href="#">{% trans "From less to more" %}</a></li>
        </ul>
    </div>
    {% endif %}

    {% if filter.type == 20 %}
    <div class="btn-group">
      <a class="ajax-confirm-link btn btn-info" href="{% url 'admin_autofill_filter' filter.pk %}"
      data-question="{% trans 'Do you really want to convert property to float and initate the filter?' %}"
      data-loaderselector="#filter-options-wrapper-{{ filter.pk }}">
        <i class="icon-refresh icon-white"></i> {% trans "Autofill" %}</a>
    </div>
    {% endif %}

    {% if filter.type != 20 %}
    <div class="btn-group">
      <a class="ajax-confirm-link btn btn-danger"
          href="#"
          data-question="{% trans 'This operation cannot be undone. Do you really want to delete all options for this filter?' %}"
          data-loaderselector="#filter-options-wrapper-{{ filter.pk }}">
          <i class="icon-trash icon-white"></i> {% trans "Clear filter" %}</a>      
    </div>
    {% endif %}
</div>

{% if filter.special_filter == 10 %}      {# Price #}
{% if filter.min_value or filter.max_value or filter.avg_value %}
<table class="table table-striped table-bordered table-hover">
    <tr>
        <th>{% trans "Minimum" %}</th>
        <th>{% trans "Average" %}</th>
        <th>{% trans "Maximum" %}</th>
    </tr>
    <tr>
        <td>{% format_as_price filter.min_value %}</td>
        <td>{% format_as_price filter.avg_value %}</td>
        <td>{% format_as_price filter.max_value %}</td>
    </tr>
</table>
{% else %}
    {% if not filter.has_options %}
    <div class="alert alert-info">{% trans "Filter is not initialized." %}</div>
    {% endif %}
{% endif %}
{% endif %}

{% if filter.special_filter == 0 %}      {# Property #}
{% if filter.min_value or filter.max_value or filter.avg_value %}
<table class="table table-striped table-bordered table-hover">
    <tr>
        <th>{% trans "Minimum" %}</th>
        <th>{% trans "Average" %}</th>
        <th>{% trans "Maximum" %}</th>
    </tr>
    <tr>
        <td>{{ filter.min_value|floatformat }} {{ filter.unit }}</td>
        <td>{{ filter.avg_value|floatformat }} {{ filter.unit }}</td>
        <td>{{ filter.max_value|floatformat }} {{ filter.unit }}</td>
    </tr>
</table>
{% else %}
    {% if not filter.has_options and filter.type == 20 %}
    <div class="alert alert-info">{% trans "Filter is not initialized." %}</div>
    {% endif %}
{% endif %}
{% endif %}


{% if filter.has_options %}
<table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
        <th>{% trans "Option" %}</th>
        <th>{% trans "Quantity" %}</th>
        <th>{% trans "Operator" %}</th>
        <th>{% trans "Manage" %}</th>
    </tr>
    </thead>
    <tbody>
    {% for option in filter_options %}
    <tr>
            <td><a href="#">{{ option.title }}</a></td>
            <td>{{ option.products.count }}</td>
            <td>{{ option.get_operator_type_str }}</td>
            <td width="290">
      <div class="btn-group">
        <a class="simple-ajax-link btn{% if forloop.first %} disabled{% endif %}"
               href="{% url 'admin_move_filter_option' option.pk %}?direction=0"
               data-loaderselector="#filter-options-wrapper-{{ filter.pk }}"
               title='{% trans "Move Up" %}'><i class="icon-arrow-up"></i></a>        
        <a class="simple-ajax-link btn{% if forloop.last %} disabled{% endif %}"
               href="{% url 'admin_move_filter_option' option.pk %}?direction=1"
               data-loaderselector="#filter-options-wrapper-{{ filter.pk }}"
               title='{% trans "Move Down" %}'><i class="icon-arrow-down"></i></a>

        <a class="ajax-confirm-link btn" href="{% url 'admin_parse_filter_option' option.pk %}" title="{% trans 'Parse' %}"
        data-question="{% trans 'Do you want to start parsing?' %}"
        data-loaderselector="#filter-options-wrapper-{{ filter.pk }}">
          <i class="icon-refresh"></i></a>

        <a class="btn" href="{% url 'admin:filters_filteroption_change' option.pk %}" title="{% trans 'Edit option' %}" 
        onclick='return showAddAnotherPopup(this);'>
          <i class="icon-edit"></i></a>
        <a class="ajax-confirm-link btn{% if forloop.first %} disabled{% endif %}" href="{% url 'admin_combine_filter_option' option.id %}?direction=0" title="{% trans 'Combine Up' %}"
        data-question="{% trans 'This operation cannot be undone. Do you really want to combine options?' %}"
        data-loaderselector="#filter-options-wrapper-{{ filter.pk }}">
          <i class="icon-hand-up"></i></a>
        
        <a class="ajax-confirm-link btn{% if forloop.last %} disabled{% endif %}" href="{% url 'admin_combine_filter_option' option.id %}?direction=1" title="{% trans 'Combine Down' %}"
        data-question="{% trans 'This operation cannot be undone. Do you really want to combine options?' %}"
        data-loaderselector="#filter-options-wrapper-{{ filter.pk }}">
          <i class="icon-hand-down"></i></a>

        </div>
        <div class="btn-group">
        <a class="ajax-confirm-link btn btn-danger"
           href="{% url 'admin_delete_filter_option' option.pk %}"
           title='{% trans "Delete" %}'
           data-question="{% trans 'This operation cannot be undone. Do you really want to delete this option?' %}"
           data-loaderselector="#filter-options-wrapper-{{ filter.pk }}"><i class="icon-trash icon-white"></i></a>
       </div>
      </div>
                

            </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
    {% if filter.type != 20 %}
    <div class="alert alert-info">{% trans "There are no filter options." %}</div>
    {% endif %}
{% endif %}
