{% load i18n %}
{% if filter.min_value != None and filter.max_value != None %}
<h4 class="filter-title">{{ filter.title }}</h4>

<div class="filter-options">
    <div class="row-fluid">
        <div class="span2"><span class="filter-slider-label">{% trans "From:" %}</span></div>
        <div class="span3">
            <input type="text" class="filter-slider-min filter-slider-input" id="filter-min-{{ filter.id }}" name="{{ filter.identificator }}" value="{{ filter.min_value }}" min_value="{{ filter.min_value_0 }}"/>
        </div>        
        <div class="span2"><span class="filter-slider-label pull-right">{% trans "to:" %}</span></div>
        <div class="span3">
            <input type="text" class="filter-slider-max filter-slider-input" id="filter-max-{{ filter.id }}" name="{{ filter.identificator }}" value="{{ filter.max_value }}" max_value="{{ filter.max_value_0 }}"/>
        </div>
        <div class="span2">
            <button class="btn btn-info btn-mini form_submit" type="submit">{% trans "OK" %}</button>
        </div>
    </div>
    <div id="filter-slider-{{ filter.id }}" class="slider"></div>
</div>
<script type="text/javascript">
    $("#filter-slider-{{ filter.id }}").slider({
        min: {{ filter.min_value_0 }},
        max: {{ filter.max_value_0 }},
        values: [{{ filter.min_value }}, {{ filter.max_value }}],
        range: true,
        stop: function(event, ui) {
            $("input#filter-min-{{ filter.id }}").val($("#filter-slider-{{ filter.id }}").slider("values", 0));
            $("input#filter-max-{{ filter.id }}").val($("#filter-slider-{{ filter.id }}").slider("values", 1));
            $("input#filter-max-{{ filter.id }}").blur();
            $("input#filter-min-{{ filter.id }}").blur();
            {% if use_after_choose %}
                $("#filter-portlet-form").submit();
            {% endif %}
        },
        slide: function(event, ui){
            $("input#filter-min-{{ filter.id }}").val($("#filter-slider-{{ filter.id }}").slider("values", 0));
            $("input#filter-max-{{ filter.id }}").val($("#filter-slider-{{ filter.id }}").slider("values", 1));
        }
    });

    $("input#filter-min-{{ filter.id }}").change(function() {
        var value1 = $("input#filter-min-{{ filter.id }}").val();
        var value2 = $("input#filter-max-{{ filter.id }}").val();
        if(parseInt(value1) > parseInt(value2)) {
            value1 = value2;
            $("input#filter-min-{{ filter.id }}").val(value1);
        }
        $("#filter-slider-{{ filter.id }}").slider("values", 0, value1);    
    });

    $("input#filter-max-{{ filter.id }}").change(function() {
        var value1 = $("input#filter-min-{{ filter.id }}").val();
        var value2 = $("input#filter-max-{{ filter.id }}").val();
        if(parseInt(value2) > 1000) { 
            value2 = 1000; 
            $("input#filter-max-{{ filter.id }}").val({{ filter.max_value }});
        }
        if(parseInt(value1) > parseInt(value2)) {
            value2 = value1;
            $("input#filter-max-{{ filter.id }}").val(value2);
            $("#filter-slider-{{ filter.id }}").slider("values", 1, value2);
        }
    });
</script>
{% endif %}