{% load url from future %}
{% load i18n %}
<div id="products-list-wrapper" data-ajaxlink="{% url 'admin_products_for_category' category.pk %}">
<p><img src="/static/img/ajax-loader.gif" /> {% trans "Loading information about products..." %}</p>
</div>

<script type="text/javascript">
    function update_product_info() {
        $("#products-list-wrapper").load("{% url 'admin_products_for_category' category.pk %}",
            function () {
                $("#products-list-wrapper").loadOverStop();  
            });        
    }

    function on_products_popup_close() {
        $("#products-list-wrapper").loadOverStart();
        setTimeout(update_product_info, 1000);
    }

    update_product_info();
</script>

