{% load url from future %}
{% load i18n lfs_tags seo_data %}
<div class="row-fluid category-toolbar">
    <div class="span12">
    <h1 class="category-caption pull-left">{% get_h1 %}</h1>
    <div class="pull-right">
    <div class="btn-group pull-left category-view-toolbar">
        <a href="{% url 'lfs_catalog_set_page_mode' %}?mode=list" class="btn{% if page_mode == 'list' %} active{% endif %}"
            title="{% trans 'List' %}"
            rel="nofollow"><i class="icon-list"></i></a>
        <a href="{% url 'lfs_catalog_set_page_mode' %}?mode=table" class="btn{% if page_mode == 'table' %} active{% endif %}"
            title="{% trans 'Table' %}"
            rel="nofollow"><i class="icon-th-large"></i></a>
    </div>
    <div class="pull-left">
    {% sorting %}
    </div>
    </div>
    </div>
</div> <!-- row-fluid -->

<script type="text/javascript">
$('.category-toolbar a').click(function () {
    var s = $(this).attr('href').split('mode=')[1];
    mediator.publish(s+'_page_mode');
});
</script>
