{% load i18n %}

{% if property_values %}
    <table class="table table-striped table-bordered center-table">
    <tr>
        <th>{% trans "Property" %}</th>
        <th>{% trans "Value" %}</th>
    </tr>
    {% for property_value in property_values %}
        {% if property_value.property.is_group %}
            <tr>
                <th colspan="2">
                    {{ property_value.property.name }}
                </th>
            </tr>
        {% else %}
            <tr>
                <td>{{ property_value.property.name }}</td>
                <td>{{ property_value.value }}</td>
            </tr>
        {% endif %}
    {% endfor %}
    </table>
{% else %}
    <div class="alert alert-info">{% trans 'У данного товара нет свойств' %}</div>
{% endif %}
