{% load i18n %}
{% if icons %}
    <div class="property-value-icons">
        <ul class="unstyled">
            {% for icon in icons %}
                <li class="clear"><img class="property-value-icon__list__item__icon" src="/media/{{ icon.icon }}" alt="{{ icon.title }}" title="{{ icon.title }}" /></li>
            {% endfor %}
        </ul>
    </div>
{% endif %}