{% extends "admin/base_site.html" %}
{% load i18n bootstrap_toolkit %}
{% load url from future %}

{% block title %}{% trans "Match Relations and Prepare to Run Import" %}{% endblock %}

{% block content_title_value %}
  {% trans "Match Relations and Prepare to Run Import" %}
{% endblock %}

{% if not is_popup %}
  {% block breadcrumbs %}
    <ul class="breadcrumb">
      <li>
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        <span class="divider">&raquo;</span>
      </li>
      <li class="active">
        {% trans "Match Relations and Prepare to Run Import" %}
      </li>
    </ul>
  {% endblock %}
{% endif %}

{% block content %}
<div id="content-main" class="inner-one-column">
<h2>{% trans "Match Relations and Prepare to Run Import" %}</h2>
<form action="" method="post">{% csrf_token %}
    {{ formset.management_form }}
    {% if errors %}
        <ul>
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if existing_matches %}
        <p>
        {% blocktrans %}
            Next you need to match how you reference related fields.
            As an example let's say you are importing Students. Students can be refered to as their ID (ex 453) or Username (ex jstudent).
            We need to specify how to reference the student. You may select any unique field.
        {% endblocktrans %}
        </p>
        <table>
            <tr>
                <th>{{ root_model }} {% trans "Field" %}</th>
                <th>{% trans "Unique Mapping" %}</th>
            </tr>
            {% for form in formset %}
                <tr>
                    <td>
                        {{ form.id.as_hidden }}
                        {{ form.import_log.as_hidden }}
                        {{ form.field_name.as_hidden }}
                        {{ form.instance.field_name }}
                    </td>
                    <td>
                        {{ form.related_field_name }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    <div class="form-actions">
    <input class="btn" type="submit" name="commit" value="{% trans 'Run actual import' %}">
    <input class="btn" type="submit" name="simulate" value="{% trans 'Simulate import' %}">
    </div>
</form>
</div>
{% endblock %}