{% extends "admin/change_list.html" %}
{% load i18n %}

{% block object-tools %}
    {% if not is_popup %}
    <div class="object-tools unstyled">
        <script type="text/javascript">
        function reload_sales() {
            if(confirm('{% trans "Information about product sales will be calculated. It may take a long time. Continue?" %}')) {
                window.location = "{{reloadlist_url}}";
            }
        }
        function set_reload_sales_task() {
            if(confirm('{% trans "A background task for regularly sales update will be set. Continue?" %}')) {
                window.location = "{{settask_url}}";
            }
        }
        </script>
        <a href="javascript:set_reload_sales_task()" class="btn"><i class="icon-tasks"></i> {% trans "Add update task" %}</a>
        <a href="javascript:reload_sales()" class="btn btn-info"><i class="icon-refresh icon-white"></i> {% trans "Calculate sales" %}</a>
    </div>
    {% endif %}
    {{ block.super }}
{% endblock %}