{% load i18n %}
<html>
    <head>
        {% include "lfs/mail/mail.css" %}
    </head>
    <body>
        <h1>{% trans "Product" %}:</h1>
        <div>
            <a href="{{ site }}{{ question.product.get_absolute_url }}">{{ question.product.get_name }}</a>
        </div>

        <h1>{% trans "Question" %}:</h1>
        <div>
            {{ question.question }}
        </div>

        <h1>{% trans "Answer" %}:</h1>
        <div>
            {{ answer }}
        </div>
    </body>
</html>
