{% load i18n lfs_theme_tags %}
<html>
    <head>
        {% include "lfs/mail/mail.css" %}
    </head>
    <body>
        <p>
            {% blocktrans with name=order.customer.get_full_name %}Dear {{ name }}{% endblocktrans %},
        </p>
        <p>
            {% trans "your order has been received." %}
        </p>
        <p>
            {% include "lfs/mail/order_details.html" %}
        </p>
        {% include "lfs/mail/mail_footer.html" %}
    </body>
</html>
