{% load i18n lfs_tags sshop_tags %}

{% if cart_items %}
    <h3 class="first-heading">
        {% trans "Voucher" %}
    </h3>
    <input data="{% url lfs_check_voucher_cart %}"
           type="text"
           id="voucher"
           name="voucher"
           value="{{ voucher_number }}"
           size="30" />

    {% if voucher_number and voucher_message %}
        <div class="alert alert-info voucher-message">
            {{ voucher_message }}
        </div>
    {% endif %}

    <h3 class="title">
        {% trans 'Your Cart' %}
    </h3>

    <form id="cart-form"
          action="{% url lfs.cart.views.refresh_cart %}"
          onsubmit="return false;">

        <table class="table table-bordered table-striped lfs-default">
            <tr>
                <th colspan="2">
                    {% trans 'Product' %}
                </th>
                <th class="left"
                    colspan="2">
                    {% trans 'Amount' %}
                </th>
                <th class="number">
                    {% trans 'Net Price' %}
                </th>
                <th class="number">
                    {% trans 'Total' %}
                </th>
                <th></th>
            </tr>
            {% for cart_item in cart_items %}
                <tr>
                    <td class="image">
                    <a href="{{ cart_item.product.get_absolute_url }}">
                    {% if cart_item.product.get_image.image %}
                    <img src="{{ cart_item.product.get_image.image.url_small }}"
                         alt="{{ cart_item.product.get_name }}" class="thumbnail"/>
                    {% else %}
                        <img alt="{{ product.name }}" src="{{ STATIC_URL }}img/60x60.gif" class="thumbnail" />
                    {% endif %}
                    </a>
                    </td>
                    <td>
                        <span class="product-title">
                            <a href="{{ cart_item.product.get_absolute_url }}">
                                {{ cart_item.product.get_name }}
                            </a>
                        </span>
                        {% comment %}
                        {% for property in cart_item.product.get_variant_properties %}
                            <div>
                                {{ property.title }}: {{ property.value }} {{ property.unit|safe }}
                            </div>
                        {% endfor %}

                        {% for property in cart_item.product.get_displayed_properties %}
                            <div>
                                {{ property.title }}: {{ property.value }} {{ property.unit|safe }}
                            </div>
                        {% endfor %}

                        {% if cart_item.product.is_configurable_product %}
                            {% for property in cart_item.obj.get_properties %}
                                <div>
                                    {{ property.title }}: {{ property.value }} {{ property.unit|safe }}
                                    {% if property.obj.is_select_field and property.display_price %}
                                        ({{ property.price|currency:request }})
                                    {% endif %}
                                </div>
                            {% endfor %}
                        {% endif %}
                        {% endcomment %}

                    </td>
                    <td class="number">
                        <input class="number cart-amount"
                               type="text"
                               name="amount-cart-item_{{ cart_item.obj.id }}"
                               size="6"
                               value="{{ cart_item.quantity }}" />
                    </td>
                    <td>
                        {% if cart_item.product.unit %}
                            {{ cart_item.product.unit }}
                        {% endif %}
                    </td>
                    <td class="number"
                        nowrap="nowrap">
                        {% format_as_price cart_item.product_price %}
                    </td>
                    <td class="number"
                        nowrap="nowrap">
                        {% if SHOP.default_currency_id != selected_payment_method.currency_id %}
                        <strong>{% format_as_payment_price cart_item.product_price_total selected_payment_method %}</strong> ({% format_as_price cart_item.product_price_total %})
                        {% else %}
                        {% format_as_price cart_item.product_price_total %}
                        {% endif %}
                    </td>
                    <td class="right">
                        <a href="{% url lfs_delete_cart_item cart_item.obj.id %}"
                           title="{% trans 'Delete item' %}"
                           class="delete-button delete-cart-item"><i class="icon-trash"></i></a>
                    </td>
                </tr>
            {% endfor %}
            {% for discount in discounts %}
                <tr id="discounts-display">
                    <td></td>
                    <td class="left">
                        {{ discount.name }}
                    </td>
                    <td class="number">
                        1
                    </td>
                    <td class="number">

                    </td>
                    <td class="number">
                        -{% format_as_price discount.price %}
                    </td>
                    <td class="number">
                        {% if SHOP.default_currency_id != selected_payment_method.currency_id %}
                        <strong>-{% format_as_payment_price discount.price selected_payment_method %}</strong>
                        (-{% format_as_price discount.price %})
                        {% else %}
                        -{% format_as_price discount.price %}
                        {% endif %}
                    </td>
                    <td></td>
                </tr>
            {% endfor %}

            {% if display_voucher %}
                <tr id="voucher-display">
                    <td></td>
                    <td class="product-title left">
                        {% trans "Voucher" %}
                    </td>
                    <td class="number">
                        1
                    </td>
                    <td></td>
                    <td class="number">
                        -{{ voucher_value|currency:request }}
                    </td>
                    <td class="number">
                        {% if SHOP.default_currency_id != selected_payment_method.currency_id %}
                        <strong>-{% format_as_payment_price voucher_value selected_payment_method %}</strong> (-{% format_as_price voucher_value %})
                        {% else %}
                        -{% format_as_price voucher_value %}
                        {% endif %}
                    </td>
                    <td></td>
                </tr>
            {% endif %}

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td class="left">
                    {% trans 'Country' %}:
                </td>
                <td>
                    <select class="cart-country"
                            name="country">
                        {% for country in countries %}
                            <option {% ifequal country.code selected_country.code  %}selected="selected"{% endifequal %}
                                    value="{{ country.code }}">
                                {{ country.name }}
                            </option>
                        {% endfor %}
                    </select>
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td class="left">
                    {% trans 'Shipping' %}:
                </td>
                <td>
                    <select class="cart-shipping-method"
                            name="shipping_method">
                        {% for shipping_method in shipping_methods %}
                            <option {% ifequal shipping_method.id selected_shipping_method.id  %}selected="selected"{% endifequal %}
                                    value="{{ shipping_method.id }}">
                                {{ shipping_method.name }}
                            </option>
                        {% endfor %}
                    </select>
                </td>
                <td class="number"
                    nowrap="nowrap">
                    {% if SHOP.default_currency_id != selected_payment_method.currency_id %}
                    <strong>{% format_as_payment_price shipping_price selected_payment_method %}</strong> ({% format_as_price shipping_price %})
                    {% else %}
                    {% format_as_price shipping_price %}
                    {% endif %}
                </td>
                <td></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td class="left">
                    {% trans 'Payment' %}:
                </td>
                <td>
                    <select class="cart-payment-method"
                            name="payment_method">
                        {% for payment_method in payment_methods %}
                            <option {% ifequal payment_method.id selected_payment_method.id  %}selected="selected"{% endifequal %}
                                    value="{{ payment_method.id }}">
                                {{ payment_method.name }}
                            </option>
                        {% endfor %}
                    </select>
                </td>
                <td class="number"
                    nowrap="nowrap">
                    {% if SHOP.default_currency_id != selected_payment_method.currency_id %}
                    <strong>{% format_as_payment_price payment_price selected_payment_method %}</strong> ({% format_as_price payment_price %})
                    {% else %}
                    {% format_as_price payment_price %}
                    {% endif %}
                </td>
                <td></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td colspan="2"
                    class="total left padding-top">
                    {% trans 'Total' %}:
                </td>
                <td class="total number padding-top"
                    nowrap="nowrap">
                    {% if SHOP.default_currency_id != selected_payment_method.currency_id %}
                    <strong>{% format_as_payment_price cart_price selected_payment_method %}</strong> ({% format_as_price cart_price %})
                    {% else %}
                    {% format_as_price cart_price %}
                    {% endif %}
            </td>
                </td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td colspan="4"
                    class="discreet left padding-top">
                    {% trans 'Total delivery time' %}: {{ max_delivery_time }}
                </td>
            </tr>
            <tr>
                <td colspan="8">
                    <div class="buttons">
                        <a class="btn btn-info "
                           href="{{ shopping_url }}">
                           <i class="icon-chevron-left icon-white"></i> {% trans 'Go on shopping' %}
                        </a>
                        <a class="btn btn-primary pull-right"
                           href="{% url lfs_checkout_dispatcher %}">
                           <i class="icon-shopping-cart icon-white"></i> {% trans 'Checkout' %}
                        </a>
                    </div>
                </td>
            </tr>
        </table>
    </form>
{% else %}
    <div class="alert alert-info">
        {% trans 'Your Cart is empty' %}
    </div>
    <a class="btn btn-info"
       href="{{ shopping_url }}">
       {% trans 'Go on shopping' %}
    </a>
{% endif %}
