{% load url from future %}
{% load i18n %}
{% if fields %}
<table class="table table-striped table-bordered table-hover table-condensed">
    <thead>
    <tr>
        <th>{% trans 'Title' %}</th>
        <th>{% trans 'Identifier' %}</th>
        <th>{% trans 'Type' %}</th>
        <th>{% trans 'Required' %}</th>
        <th>{% trans 'Disabled by default' %}</th>
        <th>{% trans 'Actions' %}</th>

    </tr>
    </thead>
    <tbody id="fields-table-body">
    {% for field in fields %}
    <tr>
        <td>
           {{ field.field.field_name }}
        </td>
        <td>
           {{ field.field.identificator }}
        </td>        
        <td>
           <img src="{{ field.field.widget_icon }}"/>&nbsp; {{ field.field.widget_name }}
        </td>
        <td>
           {% if field.field.required %}
           <img src="/static/admin/img/icon-yes.gif" alt="True"/>
           {% else %}
           <img src="/static/admin/img/icon-no.gif" alt="False"/>
           {% endif %}
        </td>
        <td>
           {% if field.field.disabled_by_default %}
           <img src="/static/admin/img/icon-yes.gif" alt="True"/>
           {% else %}
           <img src="/static/admin/img/icon-no.gif" alt="False"/>
           {% endif %}
        </td>
        <td width="220">
            <div class="btn-toolbar">
            <div class="btn-group">
            <a href="{% url 'admin_move_field' field.pk %}?direction=0" class="simple-ajax-link btn{% if forloop.first %} disabled{% endif %}" title='{% trans "Move Up" %}' data-loaderselector="#fields-list-wrapper"><i class="icon-arrow-up"></i></a>
            <a href="{% url 'admin_move_field' field.pk %}?direction=1" class="simple-ajax-link btn{% if forloop.last %} disabled{% endif %}" title='{% trans "Move Down" %}' data-loaderselector="#fields-list-wrapper"><i class="icon-arrow-down"></i></a>
            </div>
            <div class="btn-group">
            <a href="{% url 'admin_change_field' field.pk %}" class="btn" title='{% trans "Edit" %}' onclick='return showAddAnotherPopup(this);' data-loaderselector="#fields-list-wrapper"><i class="icon-edit"></i></a>    
            <a href="{% url 'admin_delete_field' field.pk %}" class="ajax-confirm-link btn btn-danger" title='{% trans "Delete" %}'
            data-question="{% trans 'This operation cannot be undone. Do you really want to delete this field?' %}"
            data-loaderselector="#fields-list-wrapper"><i class="icon-trash icon-white"></i></a>
            </div>
            </div>
        </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
{% else %}
<br/>
<div class="alert alert-info">
  {% trans "There are no fields yet." %}
</div>
{% endif %}