{% extends "admin/base_site.html" %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans "Export to report" %}{% endblock %}

{% block content_title_value %}
  {% trans "Reports" %}
{% endblock %}

{% comment %}
    <script src="{{ STATIC_URL }}report_builder/js/jquery-1.8.2.min.js" type="text/javascript" ></script>
    <script src="{{ STATIC_URL }}report_builder/js/report_form.js" type="text/javascript" ></script>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}report_builder/css/report_form.css" />
{% endcomment %}

{% if not is_popup %}
  {% block breadcrumbs %}
    <ul class="breadcrumb">
      <li>
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        <span class="divider">&raquo;</span>
      </li>
      <li>
        <a href="{{ admin_url}}">{{ model|capfirst }}</a>
        <span class="divider">&raquo;</span>
      </li>
      <li>
        <a href="{% url "admin:report_builder_report_changelist" %}">{% trans "Reports" %}</a>
        <span class="divider">&raquo;</span>
      </li>      
      <li class="active">
        {% trans "Report list" %}
      </li>
    </ul>
  {% endblock %}
{% endif %}

{% block content %}
    <div class="alert alert-info">
    {% blocktrans %}
      Select the report you wish to use. Report filters will be ignored and
      only your checked off items will be reported.
    {% endblocktrans %}
    </div>
    <table id="result_list" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Description" %}</th>
            <th>{% trans "Created" %}</th>
            <th>{% trans "Modified" %}</th>
            <th>{% trans "Select and Download" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for report in object_list %}
        <tr>
            <td>
                {{ report.name }}
            </td>
            <td>
                {{ report.description }}
            </td>
            <td>
                {{ report.created }} by {{ report.user_created }}
            </td>
            <td>
                {{ report.modified }} by {{ report.user_modified }}
            </td>
            <td>
                <a href="?ct={{ request.GET.ct }}&ids={{ request.GET.ids }}&download={{ report.id }}">
                  <img src="/static/report_builder/img/download.png"/>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
{% endblock %}
