{% extends "admin/base_site.html" %}
{% load i18n bootstrap_toolkit %}
{% load static %}

{% block extrahead %}
    <script type="text/javascript" src="{% static 'admin/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
    {{ block.super }}
    {{ form.media }}
{% endblock %}

{% block content %}
<div id="content-main" class="inner-two-columns" class="form-vertical">
<form {% if form.is_multipart %}enctype="multipart/form-data" {% endif %}
    action="" method="POST">
    {% csrf_token %}
    <div class="field">
        <label>{% trans 'Slot' %}:</label>
        <div>
            <select id="id_slot"
                    name="slot">
                {% for slot in slots %}
                    <option value="{{ slot.id }}"
                        {% if slot.selected %}selected="selected"{% endif %}>
                        {{ slot.name }}
                    </option>
                {% endfor %}
            </select>
        </div>
    </div>
    {{ form|as_bootstrap:"vertical" }}
    <div class="form-actions">
        <input type="submit" class="btn btn-info" value="{% trans 'Save' %}"/>
    </div>
</form>
</div>
{% endblock %}