ul.dropdown-menu li a {
    text-decoration: none;
}

ul.dropdown-menu li a:hover {
    text-decoration: none;
    text-shadow: none;
}

.system-info {}
.system-info__logo {
    width: 248px;
    margin: 10px auto 20px auto;
}
.system-info__table {
    width: 650px;
    margin: 10px auto 10px auto;
}

#formdefinition_form div.dynamic-formdefinitionfield_set fieldset.with-legend {
    margin-top: 30px;
    padding: 1px;
    border: 0;
}

.header{
    overflow: visible;
}

.header .header-content{
    position: relative;
    overflow: visible;
    height: 38px;
}

.header .header-content.header-content-first{
    height: 38px;
}

.header-info-message:not(:first-child){
    display: none;
}

#header-info-messages:hover .header-info-message{
    display: block;
}

#header-info-messages {
    overflow:hidden;   
    width:450px; 
    z-index:7;
    position: absolute;
    height: 35px;
    border: 0;
}

#header-info-messages:hover {
    overflow: visible;
    background-color: #3d4143;
    height: auto;
}

#header-info-messages #remove-notification-message{
    display: none;
}

#header-info-messages:hover #remove-notification-message{
    display: block;
}

#remove-notification-message {
    font-size: 10pt;
    text-align: center;
    margin-left: 3px;
}

#remove-notification-message:hover{
    background-color: #C88282;
}

#header-info-messages [class*="span"]{
    margin-left: 0;
}

#header-info-messages:hover #remove-notification-message, #header-info-messages:hover .text-info-message{
    margin: 1px;
    padding-bottom: 7px;
    padding-top:7px;
}

.text-info-message{
    padding-left: 7px;
}

.header-info-message{
    padding-left: 1px;
}

.header-info-message:hover{
    background-color: #5E5E5E;
}
#image_container img{
    position:relative!important;
}
