{% extends "manage/manage_base.html" %}
{% load i18n %}

{% block section %}add-template{% endblock %}
{% block left-slot-wrapper %}{% endblock %}
{% block content %}
    <div id="manage-tabs">
        <ul>
            <li class="ui-tabs-nav-item"><a href="#data">{% trans 'Add template' %}</a></li>
        </ul>
        <div id="data">
            <h2>{% trans "Data" %}</h2>
            <form method="post" class="form-vertical">
                {% csrf_token %}
                {% include "manage/lfs_form.html" %}

                <div class="form-actions">
                    <input type="submit"
                           class="btn btn-primary"
                           value="{% trans 'Add template' %}" />
                    <input type="button"
                           class="btn btn-info"
                           onclick="window.location='{{ came_from }}'"
                           value="{% trans 'Cancel' %}" />
                </div>
            </form>
        </div>
    </div>
{% endblock %}