{% extends "admin/change_form.html" %}
{% load i18n %}
{% load url from future %}

{% block object-tools-items %}
{{ block.super }}
<li>
	<a href="{% url 'admin:customer_customer_change' customer.id %}"><i class="icon-hand-right"></i> {% trans "Customer" %}</a>
</li>
{% endblock %}