{% load url from future %}
{% load i18n sshop_tags %}
<div class="btn-group">
  <a href="{% url 'admin:filters_filteroption_add' %}?filter_id={{ filter.pk }}" class="btn btn-success" onclick='return showAddAnotherPopup(this);'>
  <i class="icon-plus-sign icon-white"></i> {% trans "Add option" %}</a>
    <a class="filter-variants-button btn btn-success" 
  href="{% url 'admin_autoconfigure_filter' filter.pk %}"
  onclick='return showAddAnotherPopup(this);'><i class="icon-filter icon-white"></i> {% trans "Autoconfigurer" %}</a>
  <a class="filter-regenerate-filteroptions btn btn-success ajax-confirm-link" href="{% url 'regenerate_filteroptions' filter.pk %}" data-question="{% trans 'You really want to regenerate the filter options?' %}" title="{% trans 'Regenerate filter options' %}" data-loaderselector="#filter-options-wrapper-{{ filter.pk }}"><i class="icon-refresh icon-white"></i></a>
</div>