{% load url from future %}
{% load i18n sshop_tags %}
<div class="btn-group">
  <a href="{% url 'admin:filters_filteroption_add' %}?filter_id={{ filter.pk }}" class="btn btn-success" onclick='return showAddAnotherPopup(this);'>
  <i class="icon-plus-sign icon-white"></i> {% trans "Add option" %}</a>
</div>