{% load url from future %}
{% load i18n sshop_tags %}
{% if filter.min_value or filter.max_value or filter.avg_value %}
<table class="table table-striped table-bordered table-hover">
    <tr>
        <th>{% trans "Minimum" %}</th>
        <th>{% trans "Average" %}</th>
        <th>{% trans "Maximum" %}</th>
    </tr>
    <tr>
        <td>{% format_as_price filter.min_value %}</td>
        <td>{% format_as_price filter.avg_value %}</td>
        <td>{% format_as_price filter.max_value %}</td>
    </tr>
</table>
{% else %}
    {% if not filter.has_options %}
    <div class="alert alert-info">
    {% trans "Filter is not initialized." %}
    <div class="pull-right">
      <a class="ajax-confirm-link btn btn-mini" href="{% url 'admin_autofill_filter' filter.pk %}"
      data-question="{% trans 'Do you really want to initate boundary data for filter?' %}"
      data-loaderselector="#filter-options-wrapper-{{ filter.pk }}">
        {% trans "Autofill" %}</a>
    </div>
    </div>
    {% endif %}
{% endif %}