{% load url from future %}
{% load i18n %}
<div class="toolbar-content">
  <div class="object-tools">               
        <div class="btn-group">
        <a href="{% url 'admin:filters_filter_add' %}?category_id={{ category.pk }}" class="btn btn-success" onclick='return showAddAnotherPopup(this);'>
        <i class="icon-plus-sign icon-white"></i> {% trans "Add filter" %}
        </a>
            <a href="{% url 'admin_parse_filters_for_category' category.pk %}" class="ajax-confirm-link btn btn-info"
            data-question="{% trans 'Parsing all filters for category can spent many time. Do you really want to continue?' %}"
            data-loaderselector="#filters-list-wrapper">
                <i class="icon-refresh icon-white"></i> {% trans "Reparse all" %}
            </a>
        </div>

        <div class="btn-group">
            <a href="{% url 'admin_delete_filters_from_category' category.pk %}" class="ajax-confirm-link btn btn-danger"
            data-question="{% trans 'This operation cannot be undone. Do you really want to delete all filters for this category?' %}"
            data-loaderselector="#filters-list-wrapper">
                <i class="icon-trash icon-white"></i> {% trans "Delete filters" %}
            </a>            
        </div>
  </div>
    <div>
    <h2>{% trans "Manage filters" %}</h2>
    </div>
</div>

<div id="filters-list-wrapper" data-ajaxlink="{% url 'admin_filters_for_category' category.pk %}">
<p><img src="/static/img/ajax-loader.gif" /> {% trans "Loading information about filters..." %}</p>
</div>

<script type="text/javascript">

    function update_filter_info() {
        $("#filters-list-wrapper").load("{% url 'admin_filters_for_category' category.pk %}",
            function () {
                $("#filters-list-wrapper").loadOverStop();       
            });        
    }

    function on_filter_popup_close(win) {
        $("#filters-list-wrapper").loadOverStart();
        setTimeout(update_filter_info, 1000);
        win.close();
    }

    function update_filter_option_info(filter_id, start) {
        $("#filter-options-wrapper-"+filter_id).load("{% url 'admin_option_list_for_filter' %}?filter_id="+filter_id+"&start="+start,
            function () {
                $("#filter-options-wrapper-"+filter_id).loadOverStop();       
            });        
    }

    function on_filter_option_popup_close(win, filter_id, start) {
        $("#filter-options-wrapper-" + filter_id).loadOverStart();
        update_filter_option_info(filter_id, start);
        win.close();
    }

    update_filter_info();
</script>

