<div id="portlet-tabs" class="js-portlet-tabs-initiate" style="display: none;">
<ul>
{% for portlet in portlets %}
<li id="li-{{ forloop.counter }}-{{ portlet.id }}-{{ container_id }}"><a href="#tabs-{{ forloop.counter }}-{{ portlet.id }}-{{ container_id }}">{{ portlet.title }}</a></li>
{% endfor %}
</ul>
{% for portlet in portlets %}
<div id="tabs-{{ forloop.counter }}-{{ portlet.id }}-{{ container_id }}" class="js-portlet-tabs-container">
    {{ portlet.html }}
</div>
{% endfor %}
</div>
<script type="text/javascript">
$('#portlet-tabs').tabs();
$('#portlet-tabs').removeAttr('style');
$('div.portlet-header').hide();
{% if slot_name == "Left" %}config.left_portlet_count++;{% endif %}
{% if slot_name == "Right" %}config.right_portlet_count++;{% endif %}
</script>