{% load i18n %}
{% load lfs_tags %}
{% load sshop_tags %}

{% if products %}
<div id="portlet_{{ pa_id }}">
    <div class="featured-products-portlet portlet">
        <div class="portlet-header">
            <h4>{{ title }}</h4>
        </div>
        <div class="portlet-body">
            {% if not slideshow %}
                {% for product in products %}
                <div class="portlet-item pull-left{% if forloop.last %} last{% endif %}{% if slot.type_of_slot == 5 %} horizontal{% endif %}" >
                    <div class="wrapper_img">
                        <a href="{{ product.get_absolute_url }}" title="{{ product.get_name }}">
                            {% badges_for_product product %}
                            {% if product.get_image %}
                                <img alt="{{ product.get_image.title|lower }}" title="{{ product.get_image.title|lower }}" src="{{ product.get_image.image.url_medium }}">
                            {% else %}
                                <img src="{{ STATIC_URL }}img/100x100.gif" alt="{{ product.get_image.title|lower }}"
                            class="product-image" />
                            {% endif %}
                        </a>
                    </div>
                    <a href="{{ product.get_absolute_url }}" class="product-title">
                        {{ product.get_name }}
                    </a>
                    {% if product.get_for_sale %}
                            <div class="product-price">
                                <span class="price">{% for_sale_price product %}</span>
                                <div class="row-fluid">
                                    <p class="for-sale-price">{% trans 'Instead' %}: {% standard_price product %}</p>
                                    <p class="for-sale-standard-price">{% trans 'You save' %}: {% price_difference product %}</p>
                                </div>
                            </div>
                        {% else %}
                            <div class="product-price">
                                <span class="label label-info price">{% price product %}</span>
                            </div>
                    {% endif %}
                </div>
                {% endfor %}
            {% else %}
            <div class="products-wrapper slideshow">
                {% for product in products %}
                    <div id="tab-{{ forloop.counter }}" class="portlet-item pull-left">
                        <div class="product-data">
                           <div class="wrapper_img">
                                <a href="{{ product.get_absolute_url }}" title="{{ product.get_name }}">
                                    {% badges_for_product product %}
                                    {% if product.get_image %}
                                        <img alt="{{ product.get_image.title|lower }}" title="{{ product.get_image.title|lower }}" src="{{ product.get_image.image.url_medium }}">
                                    {% else %}
                                        <img src="{{ STATIC_URL }}img/100x100.gif" alt="{{ product.get_image.title|lower }}"
                                    class="product-image" />
                                    {% endif %}
                                </a>
                            </div>
                            <a href="{{ product.get_absolute_url }}" class="product-title">
                               {{ product.get_name }}
                            </a>
                    {% if product.get_for_sale %}
                            <div class="product-price">
                                <span class="price">{% for_sale_price product %}</span>
                                <div class="row-fluid">
                                    <p class="for-sale-price">{% trans 'Instead' %}: {% standard_price product %}</p>
                                    <p class="for-sale-standard-price">{% trans 'You save' %}: {% price_difference product %}</p>
                                </div>
                            </div>
                        {% else %}
                            <div class="product-price">
                                <span class="label label-info price">{% price product %}</span>
                            </div>
                    {% endif %}
                        </div>
                    </div>
                {% endfor %}{# slideshow products #}
                {# tabs #}
                <ul style="display:none">
                {% for product in products %}
                    <li><a href="#tab-{{ forloop.counter }}">{{ forloop.counter }}</a></li>
                {% endfor %}
                </ul>
            </div>
                {% if pagination %}
                <ul class="pager" style="float: left; width: 100%; margin-top: 0px;">
                    <li class="previous{% if not products.has_previous %} disabled{% endif %}">
                        <a {% if products.has_previous %}href="javascript:portlet_paginator({{ pa_id }}, {{ products.previous_page_number }})"{% endif %}>&larr; {% trans 'previous' %}</a>
                    </li>
                    <li class="next{% if not products.has_next %} disabled{% endif %}">
                        <a {% if products.has_next %}href="javascript:portlet_paginator({{ pa_id }}, {{ products.next_page_number }})"{% endif %}>{% trans 'next' %} &rarr;</a>
                    </li>
                </ul>
                {% endif %}
            {% endif %}{# slideshow check #}
        </div>{# portlet-body #}

    </div>
</div>

{% if ajax_mode %}
    <script type="text/javascript">
        mediator.publish("add_to_cart");
    </script>
{% endif %}

<script type="text/javascript">
    {% if slot_name == "Left" %}config.left_portlet_count++;{% endif %}
    {% if slot_name == "Right" %}config.right_portlet_count++;{% endif %}
</script>
{% else %}
    <input type="hidden" name="no_list_products" id="no_list_products" value="0">
    <script type="text/javascript">
        // hide products if they in tabs and have no products
        hideProductList();
        function hideProductList() {
            if (!$('.js-portlet-tabs-initiate').length) return;

            var $currentPortletInner = $('#no_list_products'),
                $tabsInitiate = $currentPortletInner.closest('.js-portlet-tabs-initiate');
            if ($tabsInitiate.length) {
                $tabsInitiate.on("tabscreate", function (event, ui) {
                    var tabIndex = $('#' + $currentPortletInner.closest('.js-portlet-tabs-container').attr('id').replace('tabs', 'li')).index();
                    $currentPortletInner.closest('.ui-tabs').tabs('remove', tabIndex);
                });
            }
            
        }
    </script>
{% endif %}
