{% load i18n %}
{% load lfs_tags %}

{% if ajax and products %}
    <div class="recent-products-portlet portlet">
        <div class="portlet-header">
            <h4>{{ title }}</h4>
        </div>
        <div class="portlet-body">
            {% for product in products %}
            <div class="portlet-item {% if forloop.last %}last{% endif %}">
                <a href="{{ product.get_absolute_url }}">
                    {{ product.get_name }}
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    <script type="text/javascript">
        {% if slot_name == "Left" %}config.left_portlet_count++;{% endif %}
        {% if slot_name == "Right" %}config.right_portlet_count++;{% endif %}
    </script>
{% endif %}

{% if init %}
    <div id="recent_products_{{ portlet_hash }}" slug_not_to_display="{{ slug_not_to_display }}" portlet_title="{{ title}}" slot_name="{{ slot_name }}">
    </div>
    <script type="text/javascript">
        var data = {
            'slug_not_to_display': $('#recent_products_{{ portlet_hash }}').attr('slug_not_to_display'),
            'title': $('#recent_products_{{ portlet_hash }}').attr('portlet_title'),
            'slot_name': $('#recent_products_{{ portlet_hash }}').attr('slot_name'),
        }
        $.ajax({
            type: "GET",
            url: "/recent_products/ajax-load/",
            data: data,
            dataType: "json",
            success: function(msg){
                var $currentPortletInner = $('#recent_products_{{ portlet_hash }}');
                $currentPortletInner.html(msg['html']);

                // hide recent products if they in tabs and have no products
                hideRecentProducts();
                function hideRecentProducts() {
                    if ($currentPortletInner.closest('.js-portlet-tabs-initiate').length && !$currentPortletInner.find('.recent-products-portlet').length) {
                        var tabIndex = $('#' + $currentPortletInner.closest('.js-portlet-tabs-container').attr('id').replace('tabs', 'li')).index();
                        $currentPortletInner.closest('.ui-tabs').tabs('remove', tabIndex);
                    }
                }

                page_designer.page_rebuild();
            }
        });
    </script>
{% endif %}
