{% load i18n %}
{% load lfs_tags sshop_tags %}

{% if product.get_related_products %}
    <div class="related-products-portlet portlet">

        <div class="portlet-header">
            <h4>{{ title }}</h4>
        </div>

        <div class="portlet-body">
            {% for related_product in product.get_related_products %}
                <div class="portlet-item">
                    <img alt="{{ related_product.get_name }}"
                         src="{{ related_product.get_image.image.url_small }}" />
                    <div>
                        <a href="{{ related_product.get_absolute_url }}">
                            {{ related_product.get_name }}
                        </a>
                    </div>
                    <div class="price">
                        {% price related_product %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <script type="text/javascript">
    {% if slot_name == "Left" %}config.left_portlet_count++;{% endif %}
    {% if slot_name == "Right" %}config.right_portlet_count++;{% endif %}
    </script>
{% else %}
    <input type="hidden" name="no_related_products" id="no_related_products" value="0">
    <script type="text/javascript">
        // hide related products if they in tabs and have no products
        hideRelatedProducts();
        function hideRelatedProducts() {
            if (!$('.js-portlet-tabs-initiate').length) return;

            var $currentPortletInner = $('#no_related_products'),
                $tabsInitiate = $currentPortletInner.closest('.js-portlet-tabs-initiate');
            if ($tabsInitiate.length) {
                $tabsInitiate.on("tabscreate", function (event, ui) {
                    var tabIndex = $('#' + $currentPortletInner.closest('.js-portlet-tabs-container').attr('id').replace('tabs', 'li')).index();
                    $currentPortletInner.closest('.ui-tabs').tabs('remove', tabIndex);
                });
            }
            
        }
    </script>
{% endif %}
