{% load i18n %}
{% load sshop_tags %}

{% if topseller %}
    <div id="portlet_{{ slot.id }}_{{ portlet_id }}" class="topseller-portlet portlet">

        <div class="portlet-header">
            <h4>{{ title }}</h4>
        </div>

        <div class="portlet-body">
            {% for item in topseller %}
            {% with item.product as product %}
            <div class="portlet-item{% if forloop.last %} last{% endif %}{% if slot.type_of_slot == 5 %} horizontal{% endif %}">
                <a href="{{ product.get_absolute_url }}">
                    <img src="{{ product.get_image.image.url_small }}">
                    <br>{{ product.get_name }}
                </a>
                <div class="product-price">
                    {% format_as_price product.price %}
                </div>
            </div>
            {% endwith %}
            {% endfor %}
        </div>{# portlet-body #}

        <ul class="pager" style="float: left; width: 100%; margin-top: 0px;">
            <li class="previous{% if not topseller.has_previous %} disabled{% endif %}">
                <a href="javascript:portlet_paginator({{ slot.id }}, {{ portlet_id }}, {{ topseller.previous_page_number }})">&larr; {% trans 'previous' %}</a>
            </li>
            <li class="next{% if not topseller.has_next %} disabled{% endif %}">
                <a href="javascript:portlet_paginator({{ slot.id }}, {{ portlet_id }}, {{ topseller.next_page_number }})">{% trans 'next' %} &rarr;</a>
            </li>
        </ul>
    </div>

<script type="text/javascript">
{% if slot.slot_name == "Left" %}config.left_portlet_count++;{% endif %}
{% if slot.slot_name == "Right" %}config.right_portlet_count++;{% endif %}
</script>
{% endif %}
