{% load url from future %}

<div id="average-rating-{{ content_type_id }}-{{ content_id }}-{{ average_hash }}"></div>

<script type="text/javascript">
	$(document).ready(function(){
		$.ajax({
			url: "{% url 'reviews_average_for_instance' %}",
			type: 'POST',
            dataType: "json",
            data: {
            	'content_type_id': "{{ content_type_id }}",
            	'content_id': "{{ content_id }}"
            },
            success: function(msg){
                $("#average-rating-{{ content_type_id }}-{{ content_id }}-{{ average_hash }}").html(msg['html']);
            }
		})
	});
</script>