{% load i18n lfs_theme_tags %}
<html>
    <head>
        {% include "lfs/mail/mail.css" %}
    </head>
    <body>
        <p>
            {% trans 'Confirm you email' %}
        </p>
        <a href="{{ link }}">{{ link }}</a>
    </body>
</html>
