{% load i18n %}

<div class="row">
<div class="span2">
    {% trans 'Phones' %}:
</div>
<div class="span10">
{% for p in phones %}
        <div class="row">
        <div class="span5">{{ p.get_formatted_number }} ({{ p.get_type_display }}) </div>
        <div class="span7">
            {% if p.default %} <i class="icon-ok"></i>{% else %}
            <a href="javascript:make_major_phone({{ p.id }})">{% trans 'Make major' %}</a>{% endif %}
            <a href="{% url lfs_edit_phone p.id %}" class="modal-link">{% trans 'Edit' %}</a>
            {% if phones.count != 1 %}
            <a href="javascript:delete_phone({{ p.id }})">{% trans 'Delete' %}</a>
            {% endif %}
        </div>
    </div>
{% endfor %}
<div class="row">
    <a href="{% url lfs_add_phone %}" class="modal-link">{% trans 'Add phone number' %}</a>
</div>
</div>
</div>
