{% extends "lfs/customer/base.html" %}
{% load i18n %}
{% load lfs_tags %}
{% load sshop_tags %}
{% load bootstrap_toolkit %}
{% load url from future %}

{% block section %}my-account{% endblock %}

{% block breadcrumbs %}
    {% breadcrumbs _("Add address") %}
{% endblock %}

{% block content %}
<div class="row-fluid"><div class="span12">
<div class="page-header">
<h1>{% trans "Add address" %}</h1>
</div>

{{ form.media }}
<form method="post" class="form-horizontal custom-form"
data-update-url="{% url 'update_address_form' %}">
{% include "lfs/customer/address_form.html" %}
</form>
</div></div>
{% endblock %}



