{% load i18n bootstrap_toolkit %}
{% csrf_token %}
{{ register_form|as_bootstrap:"horizontal" }}
<input type="hidden"
       name="action"
       value="register" />

<input type="hidden"
       name="next"
       value="{{ next_url }}" />

<div class="form-actions">
<button type="submit"
        name="register_submit"
        class="btn btn-primary">{% trans "Register" %}</button>
</div>