{% extends "admin/change_list.html" %}
{% load i18n %}
{% load url from future %}

{% block object-tools %}
{{ block.super }}
<div class="object-tools btn-group">
  {% if starred %}
    <a class="btn" href="./">{% trans 'Manage all Reports' %}</a>
  {% else %}
    <a class="btn" href="./?starred=Starred">
    {% trans 'View Starred Reports' %}</a>
  {% endif %}
</div>
{% endblock %}
