{% extends 'sshop_import/index.html' %}
{% load bootstrap_toolkit %}


{% block content %}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        Import Price
        {{ form|as_bootstrap }}
        <div class="actions">
            <button type="submit" class="btn primary">Import</button>
        </div>
    </form>
{% endblock %}